*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #2bc470;
  color: white;
  padding: 1.5em 3em 1.5em 3em;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
}
